<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t10-2020630109.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ed3b1f2b-5938-4b65-8c86-b1b4783cdb48/resourceGroups/T10-2020630109/providers/Microsoft.Web/sites/T10-2020630109</ResourceId>
    <UserName>$T10-2020630109</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t10-2020630109.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>